html
    @include media-breakpoint-up(desktop)
        font-size: Min(Max(1.1vw, 14px), 18px)

header#document-header
    @include media-breakpoint-up(desktop)
        .container
            flex-direction: column
            .logo
                margin: 10px 0 30px
.has-menu-opened
    header#document-header
        nav
            button[type="button"]
                color: black
#navigation
    @include media-breakpoint-up(desktop)
        span, a
            font-weight: bold
            text-transform: uppercase
            letter-spacing: px2rem(2)
    .nav-level-2
        span, a
            font-weight: normal
            text-transform: none
            letter-spacing: 0
.page__home
    .hero
        .container
            .content
                h1, 
                hgroup,
                .lead
                    text-align: center
                @include media-breakpoint-up(desktop)
                    .lead
                        width: 100%
                        margin-left: auto
                        margin-right: auto


.pages__section,
.page__home
    .hero
        position: relative
        height: 100%
        &.hero--with-image
            @include media-breakpoint-up(desktop)
                .content
                    flex-direction: column-reverse
                    padding-top: 0
                figure, picture, img
                    display: block
                    width: 100% !important
        .content
            justify-content: center

        h1, hgroup
            position: relative
            z-index: 10
            width: 100%
            @include media-breakpoint-up(desktop)
                .lead
                    width: col(8)
        @include media-breakpoint-down(desktop)
            padding-bottom: $spacing3
            figure
                margin: 0
        @include media-breakpoint-down(md)
            .container .content hgroup .lead
                width: 100%

@include media-breakpoint-up(desktop)
    .container:first-of-type
        justify-content: center !important
    .toc-title
        display: none
    .container
        align-items: end