ErrorDocument 404 /fr/404.html
RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

RewriteCond %{HTTP_HOST} ^fondation\-jacques\-rougerie\.com [NC]
RewriteRule ^(.*)$ https://www.fondation-jacques-rougerie.com/$1 [L,R=301]

RedirectPermanent /concours /fr/concours/
RedirectPermanent /la-fondation /fr/fondation/la-fondation/
RedirectPermanent /best-of /fr/concours/database/
RedirectPermanent /competition /en/competitions/

<IfModule mod_expires.c>
  ExpiresActive On 
  
  AddType application/font-woff   .woff
  AddType application/font-woff2  .woff2
  
  ExpiresByType font/woff  "access plus 1 year"
  ExpiresByType application/font-woff  "access plus 1 year"
  ExpiresByType application/x-font-woff  "access plus 1 year"
  ExpiresByType font/woff2  "access plus 1 year"
  ExpiresByType application/font-woff2  "access plus 1 year"
  ExpiresByType application/x-font-woff2  "access plus 1 year"
</IfModule>